body {
    background-image: url("../images/candy1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    font-family: Arial, Helvetica, sans-serif
}

#div1{
    background-color: #8bbee8ff;
    width: 50%;
    height: 300px;
    position: relative;
    left: 25%;
    top: 100px;
}

h1{
    color: #6dac4fff;
    text-align: center;
}

#start{
    width: 500px;
    position: relative;
    left: 24%;
    top: 60px;

}

#div3{
    margin-left: 2%;
    
    
}


#div4{
    margin-left: 2%;
    padding-bottom: 1%;
}

#alldone{
    color: yellow;
}

#correct{
    color: green;
}

#incorrect{
    color: red;
}

#unanswered{
    color: gray;
}
.questions{
    color:#efefe8ff;
}