body {
    background-image: url("../images/candy1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    font-family: Arial, Helvetica, sans-serif
}

#div1{
    background-color: #8bbee8ff;
    width: 50%;
    height: auto;
    position: relative;
    left: 30%;
    top: 100px;
}

h1{
    color: #6dac4fff;
    text-align: center;
}


